.app-container {
  padding: 0 1rem;
  max-width: 520px;
  margin: 2rem auto;
  font-family: Arial, sans-serif;
}

.app-title {
  color: #008037;
  text-align: center;
  margin-bottom: 1rem;
}

.form-contacto {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}

.form-contacto input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.form-contacto button {
  background: #008037;
  color: white;
  border: 0;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.tarjeta-contacto {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  background: white;
  margin-bottom: 10px;
}

.btn-eliminar {
  background: #c62828;
  color: white;
  border: 0;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
}

.acciones {
  display: flex;
  justify-content: flex-end;
}